# Credenciales Contabilium
EMAIL_NORFRIG=tu_email@gmail.com
APIKEY_NORFRIG=tu_api_key

# Google Cloud Platform
BIGQUERY_PROJECT=tu_proyecto_gcp
BIGQUERY_DATASET=tu_dataset
BIGQUERY_CREDS={"type":"service_account","project_id":"..."}

# Google Drive
DRIVE_CARPETA_COMPRAS_ID=id_de_carpeta_drive

# Streamlit
APP_PASSWORD=tu_password